trigger:
  branches:
    include:
      - main
      - develop

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self

- task: CopyFilesOverSSH@0
  inputs:
    sshEndpoint: 'QA-server-Pipeline-SSH-Connection'
    sourceFolder: '$(Pipeline.Workspace)'
    contents: '**'
    targetFolder: '/home/azureuser/pipeline-test'
    cleanTargetFolder: true
